<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t "mail.welcome", name: @user.name %></h1>
    <p><%= t "mail.before_course_finish", content: @course.content,
      day: @course.end_date %></p>
    <p><%= t "mail.thanks" %></p>
  </body>
</html>
