<% provide :title, t(:user_show) %>
<div class="row">
  <div class="col-md-4">
    <section class="user_info">
      <%= render "shared/user_info" %>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </div>
</div>
