<h3>
  <%= link_to subject.content, supervisor_subject_path(subject) %>
</h3>
  <%= link_to t("subject.edit"), edit_supervisor_subject_path(subject) %>
  <%= link_to t("subject.delete"), "#" %>
<hr/>
