<div class="row">
  <div class="col-md-5 panel panel-default">
    <div class="text-center">
      <h3><%= link_to t("subject.back"), supervisor_subjects_path %></h3>
      <hr/>
    </div>
    <div id="subject-form">
      <%= render "form" %>
    </div>
  </div>
</div>
